document.getElementById('itemDetailsContent').innerHTML = `<h4>Item Details for <%= @inventory_item.name %></h4><p>Quantity: <%= @inventory_item.quantity %></p><p>Price: <%= number_to_currency(@inventory_item.price) %></p>`;
document.getElementById('itemDetailPanel').classList.add('show');
